/*ESTILOS NAVBAR*/
.o-nav-home {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: black;
  background-color: white;
}
.o-nav-home {
  font-size: medium;
  height: 4rem;
}
.o-img-home {
  display: flex;
}
.o-nav-left {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.o-ul-home {
  display: flex;
  margin: 0;
}
.o-li-home {
  text-decoration: none;
  list-style: none;
  margin: 1.5rem;
}
/*ESTILO BODY*/

.o-container-body-home {
  display: flex;
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}
/*ESTILOS CONTAINER IZQUIERDO*/
.o-container-left {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50%;
  float: left;
  background-repeat: no-repeat;
  background-image: url("../../img/bgelement.png");
  background-position: center;
  background-size: 24rem;
}

.o-paragraph {
  margin: 1rem;
  color: grey;
}
.o-detail-left {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}
/*CONTAINER DERECHO */

.o-container-right {
  width: 50%;
  float: right;
  text-align: center;
}

/*ESTILOS FOOTER*/
.o-footer-home {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}

.o-img-right {
  height: 20rem;
}
.o-text-footer-l {
  font-size: 0.7rem;
  color: white;
}

/*ESTILO BOTON*/
.o-btn-login{

    border-radius: 0.5rem;
    color: white;
    background-color: #458FF6;
    border: none;
    outline: none;
    height: 1.5rem;
    width: 6rem;
    cursor: pointer;
    margin: 0.3rem;
}
.button:hover {
  background-color: #3665f5;
  color: white;
}

/*ESTILO LOGIN*/

.o-container-login {
  background: url(../../img/imgopacidad.png);
  height: 24rem;
  margin: 0.5rem;
  justify-content: center;
  background-size: 24rem;
  background-repeat: no-repeat;
}

   
    

/*Estilos pantalla actividades*/

  .o-form-login{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .o-forms-text{

    margin: 1rem;

  }